@{
    ViewData["Title"] = "France 2019 - Liste des clubs";
}
@using Mondial.DotNet.Library.Models
@model IEnumerable<Team>


<h1 class="display-4">Clubs ayant accueilli les joueuses de l'Équipe de France de la Coupe du Monde 2019</h1>
<p>Ci-dessous, tous les clubs ayant accueilli au moins une joueuse de l'Équipe de France de la Coupe du Monde 2019 (ordre alphabétique).
<div class="text-center">
    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">Nom</th>
            <th scope="col">Logo</th>
            <th scope="col">Adresse</th>
            <th scope="col">Coordonnées</th>
            <th scope="col">Action...</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var team in Model)
            {
                var location = "Latitude : " + @team.Latitude + " Longitude : " + @team.Longitude;
            <tr>
                <td>@team.Name</td>
                <td><img src="/images/ecussons/@team.Flag" alt="Ecusson de @team.Name" height="48px"/></td>
                <td>@team.Address</td>
                <td>@location</td>
                <td>
                    <a class="btn btn-outline-primary" asp-controller="Team" asp-action="Edit" asp-route-id="@team.Id">Modifier</a>
                    <a class="btn btn-outline-danger" asp-controller="Team" asp-action="Delete" asp-route-id="@team.Id">Supprimer</a>
                </td>
            </tr> 
            }
        </tbody>
    </table>
</div>