@{
    ViewData["Title"] = "Liste des joueuses";
}
@using Mondial.DotNet.Library.Models
@model IEnumerable<Player>

<h1 class="display-4">Joueuses composant l'Équipe de France à la Coupe du Monde 2019</h1>
<p>Ci-dessous, la liste des joueuses sélectionnées en Équipe de France pour disputer la Coupe du Monde 2019 (ordre alphabétique).</p>

<div class="text-center">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Image</th>
                <th scope="col">Date de naissance</th>
                <th scope="col">Action...</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in Model)
            {
                var dateString = player.DateOfBirth.HasValue ? player.DateOfBirth.Value.ToShortDateString() : "";
            <tr>
                <td >@player.LastName.ToUpper()</td>
                <td>@player.FirstName</td>
                <td><img src=@player.Image alt="Image" height="48px"/></td>
                <td>@dateString</td>
                <td>
                    <a class="btn btn-outline-primary" asp-controller="Player" asp-action="Edit" asp-route-id="@player.Id">Modifier</a>
                    <a class="btn btn-outline-danger" asp-controller="Player" asp-action="Delete" asp-route-id="@player.Id">Supprimer</a>
                </td>
            </tr> 
            }
        </tbody>
    </table>
</div>